@import "./styles/variables";
@import "./styles/mixin";
@import "./styles/extend";

*{
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'roboto', sans-serif;
  }
    .logo{
      width: 100%;
      height: 30px;
      text-align: center;
      padding: 10px;
      & img{
        text-align: center;
        width: 200px;
        height: auto;
        margin: 0 auto;
      }
    }
    .banner{
      background-color: $bg-color;
      &__search{
        border: 1px solid $bg-color;
        background-color: darken($bg-color,10%);
        box-shadow: 2px 0px 5px rgba(242,242,242,0.5) ;
        text-align: center;
    vertical-align: middle;
        width:auto;
        height: 30px;
        padding-top: 10px;;
        margin: 0;
        &--input{
          border: none;
          background-color:darken($bg-color,10%);
      }
      }
      &__title{
        white-space: pre;
        font-size:1.5em;
        font-weight: bold;
        text-align: center;
      }
      &__description{
        font-size: 0.8em;
        font-weight: lighter;
        text-align: center;
      }
    }
    .btn{
      width: 100%;
      height: 30px;
      text-align: center;
      margin: 20px;
      padding-bottom: 50px;
      &__size{
        cursor: pointer;
        @include btn;
      }
      &__size:hover{
        transform: scale(1.5);
      transition: 2s;
      }
    }
    .indicator{
      width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $bg-color;
        >div{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin: 20px;
        }
        &__title{
          font-weight: bolder;
            padding-left: 20px;
        }
      &__element{
        cursor: pointer;
        @include indicator-dimension;
        @include chadow-box;
        >a{
          font-weight: bolder;
            color: black;
        }
        >span{
          display: inline-block;
          position: relative;
          left: -20px;
          width: 20px;
          height: 20px;
          text-align: center;
          background: $primary-color;
          border-radius: 50%;
        }
        >i{
          display: inline-block;
          padding-left: 20px;
        }
      }
    }
    .indicator i:hover{
      color: $primary-color;    
    }
    .indicator__element:hover{
      background-color: rgba($secondary-color,0.3);
    }
    
    #restaurants{
      min-width:$tablet-screen;
    margin-left: 20px;
      background-color: $bg-color;
      margin: 30px;
      h2{
        font-weight: bolder;
      }
    }
    .restaurant-container {
      width: 20%;;
      height: auto;
      border-radius: 20px;
      line-height: 1.2em;
      display: flex;
      flex-direction: column;
      border:3px solid transparent;
      @include chadow-box;
      &--all{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }   
      &__img{
        position:relative;
        width: 100%;
        height: auto;
        border-radius: 20px;
        padding-bottom: 0;
        & img{
          position: relative;
          width: 100%;
          height: auto;
          border-radius: 20px 20px 0px 0px;
        }
        & span{
          position: absolute;
          right:10px;
          top: 20px;
          display: inline-block;
          width: 60px;
          height: 20px;
          font-size: 0.8em;
          font-weight: 900;
          text-align: center;
          background-color: $tertiary-color;
          color:darken($tertiary-color,50%);
        }
      }
      &__texts{
        width: 100%;
        background-color:#fff;
        border-radius: 0px 0px 20px 20px;
        font-weight: bolder;
        font-size:.8em;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        padding:10px 20px 0px 20px ;
        margin-right: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        & h3{
          font-weight: bolder;
        }
        & p{
          font-weight: normal;
        }
      }
      &__texts a{
        text-decoration: none;
        color: black;
      }
    }
    .heart{
      cursor: pointer;
      position: relative;
      &:focus i{
        color:rgba($primary-color,0.9)
      }
      & .fas fa-heart{
        display: inline-block;
        color:gray;
      }
      .fa-heart{
       position: absolute;
       top:0;   
       transition: 3s;
       animation-fill-mode: forwards; 
       opacity: 1;
      }
    }
  

    .la-francaise{
      min-width:300px;
      background-position:left 60px;
      background-image: url(" ./images-origin/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      &__header{
        position: relative;
        display: flex;
        flex-direction: row;
        padding-top: 20px;
      }
      &__header i{
        display: inline-block;
        color: black;
        padding-left: 20px;
      }
      &__header--img{
        display: inline-block;
        width: 200px;
        height: auto;
        margin: 0 auto;
       
      }
    }
    .l-enchantee{
      min-width:300px;
      background-position:left 60px;
      background-image: url(" ./images-origin/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      &__header{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        position: relative;
      }
      &__header i{
          padding-left: 20px;
          display: inline-block;
        color: black;
      }
      &__header--img{
        width: 200px;
        height: auto;
        margin: 0 auto;
      }
    }
    .la-palette{
      min-width:300px;
      background-position:left 60px;
      background-image: url(" ./images-origin/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      &__header{
          position: relative;
          display: flex;
          flex-direction: row;
          padding-top: 20px;
        }
        &__header i{
          padding-left: 20px;
          display: inline-block;
          color: black;
        }
        &__header--img{
          width: 200px;
          height: auto;
          margin: 0 auto;
        }
      }
    .le-delice{
      min-width:300px;
      background-position:left 60px;
      background-image: url(" ./images-origin/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      &__header{
          display: flex;
          flex-direction: row;
          padding-top: 20px;
          position: relative;
        }
        &__header i{
            padding-left: 20px;
            display: inline-block;
          color: black;
        }
        &__header--img{
          width: 200px;
          height: auto;
          margin: 0 auto;
        }
      }
    
    
    
    .restro{
      overflow: hidden;
      background-color: $bg-color;
      margin-top: 55%;
      border-radius: 50px 50px 0px 0px;
      padding: 20px;
      &>h1{
        font-family:'Shrikhand', cursive ;
      }
      &__menu--title{
        font-weight: 100;
        margin-bottom: 20px;
        width: 50px;
        border-bottom: 3px solid $tertiary-color;
      }
      &__menu{
          @include chadow-box;
        margin-bottom: 20px;
        width: 100%;
        height: 50px;
        background-color: white;
        border-radius: 20px;
        display:flex ;
        flex-direction: row;
        justify-content: space-between;
        vertical-align: top;
        position: relative;
        margin-right: 0;
        cursor: pointer;
        & h3{
          font-weight:bolder;
          font-size: 1em;
          overflow:hidden; 
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 10px 0px 0px 20px;
        }
        & p{
          font-weight: normal;
          font-size: 0.8em;
          overflow:hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0px 0px 0px 20px;
        }
        & span{
          font-weight: bolder;
          display: inline-block;
          position: absolute;
          right: 60px;
          top:50%;
        }
      }
    
      &__menu--box{
          display: inline-block;
          height: 50px;
          width: 50px;
          background-color: $tertiary-color;
          margin: 0;
        padding: 0;
        border-radius: 0px 20px 20px 0px ;
        position: absolute;
        right: 0;
        transform: translateX(80px);
        & input{
          display: inline-block;
          margin-right: 5px;
          text-align: center;
          position:absolute;
          top: 40%;
          left: 40%;
        }
        }
      }
      .restro__menu:hover span{
        display: bloc;
      }
      .restro__menu:hover .restro__menu--box{
        display: block;
        transform: translateX(0px);
        transition: 1s;
      }
    
    
    footer{
      overflow: hidden;
      width: 100%;
      height: auto;
      background: black;
      color: white;
      & h1{
        font-family:'Shrikhand', cursive ;
          padding-left: 20px;
      }
      & a{
          text-decoration: none;
          color: #fff;
      }
      & ul{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 20px;
          list-style-type: none;
          padding-bottom: 30px;
          li>i{
            padding-right: 10px;
          }
      }
      & form{
          color: black;
      
      }
      & fieldset{
          display: flex;
          flex-direction: column;
          width: 500px;
          padding: 20px;
          position: relative;
          background-color:rgba($primary-color,0.9);
          
      }
      & input{
        margin-bottom: 5px;
        text-align: right;
        background: $bg-color;
        color: black;
        position: absolute;
        left: 60px;
        display: inline-block;
        margin-bottom:30px;
      }
      & textarea{
        background: $bg-color;
        width: 500px;
        height: 500px;
        font-size: 1em;
        color: black;
        padding: 20px;
      }
    
    }
    
    #email{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-150%);
      transition: 2s;
      & form{
        display: flex;
        flex-direction: column;
        border: 1px solid transparent;
        align-items:center;
        text-align: left;
        margin-bottom: 10px;
      }
      & form>input{
        cursor: pointer;
    }
    }
    #contact{
      position: relative;
      flex: 1;
    }
    #email:target{
      transform: translateY(0px);
    }  
    .loading-wrapper{
      width: 100%;
      height: 100%;
      position:fixed;
      background-color: #fff;
      z-index: 9999;
      animation: loading-wrapper 1s 3s forwards;
    }
    .loading{
      width: 100px;
      height: 100px;
      border: 10px dotted $bg-color;
      border-top: 10px dotted $tertiary-color;
      border-bottom: 10px dotted $tertiary-color;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top:50%;
      margin-top: -15px;
      margin-left: -15px;
      animation: loading 3s ease forwards;
  
    }

    @keyframes loading{
      to{
        transform:rotate(360deg)
      }
    } 
    @keyframes loading-wrapper{
      to{
        transform: translateY(100%)
      }
    }
    
  

  @include tablet-width{
    .indicator{
       width: 100%;
        display: flex;
        flex-direction: column;
        >div{
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          box-sizing: border-box;
        }
        &__element{
          margin: 20px;
        }        
    } 
    #restaurants{
      width:100%;
      &>h2{
        padding: 20px 0;
      }
    }
    .restaurant-container {
      width:40%;
      height: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      @include chadow-box;
      &--all{
        width: 80%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;          
          box-sizing: border-box;
      }   
      &__img{
        width:100%;
        height: auto;
        & img{
         width:100%;
          height:auto;
        }
      }
      &__texts{
        width: 100%;
      }
      
    } 
    footer{
      width: 100%;
      ul{
        flex-wrap: wrap;
        li{
          margin: 20px;
        }
      }
    }
    #email{
      width: 100%;
      fieldset{
        width: 90%;
      }
      textarea{
        width: 90%;
      }
    }
  }
  @include phone-width{
    .indicator{
      width: 100%;
        display: flex;
        flex-direction: column;
        >div{
          width: 100%;
          display: flex;
          flex-direction:column;
        }
        &__element{
          width: 80%;
        }        
    } 
    #restaurants{
      width:100%;
    }
    .restaurant-container {
      width:300px;
      height: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      @include chadow-box;
      &--all{
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 20px;
      }   
      &__img{
        width:100%;
        height: auto;
        & img{
          width:100%;
          height:auto;
        }
      }
      &__texts{
        width: 100%;
      }
      
    }   
    footer ul{
      width: 100%;
      display: flex;
      flex-direction: column;
      li{
        margin-bottom: 20px;
      }
    }
    #email{
      width: 100%;
      fieldset{
        width: 90%;
      }
      textarea{
        width: 90%;
      }
    }
  }
  
 