* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'roboto', sans-serif;
}

.logo {
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 10px;
}

.logo img {
  text-align: center;
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.banner {
  background-color: #f2f2f2;
}

.banner__search {
  border: 1px solid #f2f2f2;
  background-color: #d9d9d9;
  -webkit-box-shadow: 2px 0px 5px rgba(242, 242, 242, 0.5);
          box-shadow: 2px 0px 5px rgba(242, 242, 242, 0.5);
  text-align: center;
  vertical-align: middle;
  width: auto;
  height: 30px;
  padding-top: 10px;
  margin: 0;
}

.banner__search--input {
  border: none;
  background-color: #d9d9d9;
}

.banner__title {
  white-space: pre;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.banner__description {
  font-size: 0.8em;
  font-weight: lighter;
  text-align: center;
}

.btn {
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 20px;
  padding-bottom: 50px;
}

.btn__size {
  cursor: pointer;
  width: 200px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  text-align: center;
  color: #fff;
}

.btn__size:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 2s;
  transition: 2s;
}

.indicator {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f2f2f2;
}

.indicator > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px;
}

.indicator__title {
  font-weight: bolder;
  padding-left: 20px;
}

.indicator__element {
  cursor: pointer;
  width: auto;
  height: 30px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  -webkit-box-shadow: -1px 5px 10px rgba(138, 131, 131, 0.5);
          box-shadow: -1px 5px 10px rgba(138, 131, 131, 0.5);
}

.indicator__element > a {
  text-decoration: none;
}

.indicator__element > a {
  font-weight: bolder;
  color: black;
}

.indicator__element > span {
  display: inline-block;
  position: relative;
  left: -20px;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #9356DC;
  border-radius: 50%;
}

.indicator__element > i {
  display: inline-block;
  padding-left: 20px;
}

.indicator i:hover {
  color: #9356DC;
}

.indicator__element:hover {
  background-color: rgba(255, 121, 218, 0.3);
}

#restaurants {
  min-width: 768px;
  margin-left: 20px;
  background-color: #f2f2f2;
  margin: 30px;
}

#restaurants h2 {
  font-weight: bolder;
}

.restaurant-container {
  width: 20%;
  height: auto;
  border-radius: 20px;
  line-height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid transparent;
  -webkit-box-shadow: -1px 5px 10px rgba(138, 131, 131, 0.5);
          box-shadow: -1px 5px 10px rgba(138, 131, 131, 0.5);
}

.restaurant-container--all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant-container__img {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding-bottom: 0;
}

.restaurant-container__img img {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0px 0px;
}

.restaurant-container__img span {
  position: absolute;
  right: 10px;
  top: 20px;
  display: inline-block;
  width: 60px;
  height: 20px;
  font-size: 0.8em;
  font-weight: 900;
  text-align: center;
  background-color: #99E2D0;
  color: #1b6150;
}

.restaurant-container__texts {
  width: 100%;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
  font-weight: bolder;
  font-size: .8em;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px 0px 20px;
  margin-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.restaurant-container__texts h3 {
  font-weight: bolder;
}

.restaurant-container__texts p {
  font-weight: normal;
}

.restaurant-container__texts a {
  text-decoration: none;
  color: black;
}

.heart {
  cursor: pointer;
  position: relative;
}

.heart:focus i {
  color: rgba(147, 86, 220, 0.9);
}

.heart .fas fa-heart {
  display: inline-block;
  background-color: linear-gradient(#FF79DA, #9356DC);
}

.heart .far fa-heart {
  display: block;
  position: absolute;
  top: 0;
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 1;
  z-index: 100;
}

.la-francaise {
  min-width: 300px;
  background-position: left 60px;
  background-image: url(" ./images-origin/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: 0;
  -webkit-animation: menu-page-head forwards;
          animation: menu-page-head forwards;
}

.la-francaise__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
}

.la-francaise__header i {
  display: inline-block;
  color: black;
  padding-left: 20px;
}

.la-francaise__header--img {
  display: inline-block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.l-enchantee {
  min-width: 300px;
  background-position: left 60px;
  background-image: url(" ./images-origin/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: 0;
  -webkit-animation: menu-page-head forwards;
          animation: menu-page-head forwards;
}

.l-enchantee__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
  position: relative;
}

.l-enchantee__header i {
  padding-left: 20px;
  display: inline-block;
  color: black;
}

.l-enchantee__header--img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.la-palette {
  min-width: 300px;
  background-position: left 60px;
  background-image: url(" ./images-origin/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: 0;
  -webkit-animation: menu-page-head forwards;
          animation: menu-page-head forwards;
}

.la-palette__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
}

.la-palette__header i {
  padding-left: 20px;
  display: inline-block;
  color: black;
}

.la-palette__header--img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.le-delice {
  min-width: 300px;
  background-position: left 60px;
  background-image: url(" ./images-origin/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: 0;
  -webkit-animation: menu-page-head forwards;
          animation: menu-page-head forwards;
}

.le-delice__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
  position: relative;
}

.le-delice__header i {
  padding-left: 20px;
  display: inline-block;
  color: black;
}

.le-delice__header--img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

@-webkit-keyframes menu-page-head {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu-page-head {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.restro {
  -webkit-animation: opacity 2s forwards;
          animation: opacity 2s forwards;
  overflow: hidden;
  background-color: #f2f2f2;
  margin-top: 55%;
  border-radius: 50px 50px 0px 0px;
  padding: 20px;
}

.restro > h1 {
  font-family: 'Shrikhand', cursive;
}

.restro__menu--title {
  font-weight: 100;
  margin-bottom: 20px;
  width: 50px;
  border-bottom: 3px solid #99E2D0;
}

.restro__menu {
  -webkit-box-shadow: -1px 5px 10px rgba(138, 131, 131, 0.5);
          box-shadow: -1px 5px 10px rgba(138, 131, 131, 0.5);
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: top;
  position: relative;
  margin-right: 0;
  cursor: pointer;
}

.restro__menu h3 {
  font-weight: bolder;
  font-size: 1em;
  margin: 10px 0px 0px 20px;
  -webkit-animation: restro 2s  1s forwards;
          animation: restro 2s  1s forwards;
}

.restro__menu p {
  font-weight: normal;
  font-size: 0.8em;
  margin: 0px 0px 0px 20px;
}

.restro__menu span {
  font-weight: bolder;
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 50%;
}

.restro__menu--box {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #99E2D0;
  margin: 0;
  padding: 0;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  right: 0;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}

.restro__menu--box input {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 40%;
}

.entree .restro__menu:nth-child(1) {
  opacity: 0;
  -webkit-animation: opacity 2s forwards;
          animation: opacity 2s forwards;
}

.entree .restro__menu:nth-child(2) {
  opacity: 0;
  -webkit-animation: opacity 2s 0.2s forwards;
          animation: opacity 2s 0.2s forwards;
}

.entree .restro__menu:nth-child(3) {
  opacity: 0;
  -webkit-animation: opacity 2s 0.4s forwards;
          animation: opacity 2s 0.4s forwards;
}

.entree .restro__menu:nth-child(4) {
  opacity: 0;
  -webkit-animation: opacity 2s 0.6s forwards;
          animation: opacity 2s 0.6s forwards;
}

.entree .restro__menu:nth-child(5) {
  opacity: 0;
  -webkit-animation: opacity 2s 0.8s forwards;
          animation: opacity 2s 0.8s forwards;
}

.plat .restro__menu:nth-child(1) {
  opacity: 0;
  -webkit-animation: opacity 2s 1s forwards;
          animation: opacity 2s 1s forwards;
}

.plat .restro__menu:nth-child(2) {
  opacity: 0;
  -webkit-animation: opacity 2s 1.2s forwards;
          animation: opacity 2s 1.2s forwards;
}

.plat .restro__menu:nth-child(3) {
  opacity: 0;
  -webkit-animation: opacity 2s 1.4s forwards;
          animation: opacity 2s 1.4s forwards;
}

.plat .restro__menu:nth-child(4) {
  opacity: 0;
  -webkit-animation: opacity 2s 1.6s forwards;
          animation: opacity 2s 1.6s forwards;
}

.dessert .restro__menu:nth-child(1) {
  opacity: 0;
  -webkit-animation: opacity 2s 1.8s forwards;
          animation: opacity 2s 1.8s forwards;
}

.dessert .restro__menu:nth-child(2) {
  opacity: 0;
  -webkit-animation: opacity 2s 2s forwards;
          animation: opacity 2s 2s forwards;
}

.dessert .restro__menu:nth-child(3) {
  opacity: 0;
  -webkit-animation: opacity 2s 2.2s forwards;
          animation: opacity 2s 2.2s forwards;
}

.dessert .restro__menu:nth-child(4) {
  opacity: 0;
  -webkit-animation: opacity 2s 2.6s forwards;
          animation: opacity 2s 2.6s forwards;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    opacity: 1;
  }
}

.checkbox:checked {
  background: #fff;
}

.checkbox {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transform: translate(-8px, -8px);
          transform: translate(-8px, -8px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color ease 0.1s;
  transition: background-color ease 0.1s;
  outline: none;
}

.checkbox:checked::after {
  content: '';
  top: 5px;
  left: 5px;
  position: absolute;
  background: transparent;
  border: #99e2d0 solid 3px;
  border-top: none;
  border-right: none;
  height: 6px;
  width: 10px;
  -webkit-animation: rotate-box 1s 3s;
          animation: rotate-box 1s 3s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.restro__menu:hover .checkbox:checked::after {
  -webkit-animation: rotate-box 1s 0.5s;
          animation: rotate-box 1s 0.5s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes rotate-box {
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  75% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes rotate-box {
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  75% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.restro__menu:hover span {
  display: bloc;
  -webkit-animation: span 2s  forwards;
          animation: span 2s  forwards;
}

.restro__menu:hover .restro__menu--box {
  display: block;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes span {
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@keyframes span {
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

footer {
  overflow: hidden;
  width: 100%;
  height: auto;
  background: black;
  color: white;
}

footer h1 {
  font-family: 'Shrikhand', cursive;
  padding-left: 20px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  list-style-type: none;
  padding-bottom: 30px;
}

footer ul li > i {
  padding-right: 10px;
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 9999;
  -webkit-animation: loading-wrapper 1s 1s forwards;
          animation: loading-wrapper 1s 1s forwards;
}

.loading {
  width: 100px;
  height: 100px;
  border: 10px dotted #f2f2f2;
  border-top: 10px dotted #99E2D0;
  border-bottom: 10px dotted #99E2D0;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  margin-left: -15px;
  -webkit-animation: loading 1s ease forwards;
          animation: loading 1s ease forwards;
}

@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loading-wrapper {
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes loading-wrapper {
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@media all and (min-width: 414px) and (max-width: 768px) {
  .indicator {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .indicator > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .indicator__element {
    margin: 20px;
  }
  #restaurants {
    width: 100%;
  }
  #restaurants > h2 {
    padding: 20px 0;
  }
  .restaurant-container {
    width: 40%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 5px 10px rgba(138, 131, 131, 0.5);
            box-shadow: -1px 5px 10px rgba(138, 131, 131, 0.5);
  }
  .restaurant-container--all {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .restaurant-container__img {
    width: 100%;
    height: auto;
  }
  .restaurant-container__img img {
    width: 100%;
    height: auto;
  }
  .restaurant-container__texts {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  footer ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer ul li {
    margin: 20px;
  }
  #email {
    width: 100%;
  }
  #email fieldset {
    width: 90%;
  }
  #email textarea {
    width: 90%;
  }
}

@media all and (max-width: 414px) {
  .indicator {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .indicator > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .indicator__element {
    width: 80%;
  }
  #restaurants {
    width: 100%;
  }
  .restaurant-container {
    width: 300px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 5px 10px rgba(138, 131, 131, 0.5);
            box-shadow: -1px 5px 10px rgba(138, 131, 131, 0.5);
  }
  .restaurant-container--all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .restaurant-container__img {
    width: 100%;
    height: auto;
  }
  .restaurant-container__img img {
    width: 100%;
    height: auto;
  }
  .restaurant-container__texts {
    width: 100%;
  }
  footer ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer ul li {
    margin-bottom: 20px;
  }
  #email {
    width: 100%;
  }
  #email fieldset {
    width: 90%;
  }
  #email textarea {
    width: 90%;
  }
}
/*# sourceMappingURL=all.css.map */