.indicator__element {
  width: 100%;
  height: 30px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px; }
  .indicator__element > a {
    text-decoration: none; }

.btn__size {
  width: 200px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(#FF79DA, #9356DC);
  text-align: center;
  color: white; }

* {
  margin: 0;
  padding: 0; }

@media all and (max-width: 768px) {
  body {
    padding: 0px;
    margin: 10px; } }

.logo {
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 10px; }
  .logo img {
    text-align: center;
    width: 200px;
    height: auto;
    margin: 0 auto; }

.banner {
  background-color: #f2f2f2; }
  .banner__search {
    border: 1px solid #f2f2f2;
    background-color: #d9d9d9;
    box-shadow: 2px 0px 5px rgba(242, 242, 242, 0.5);
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: 30px;
    padding-top: 10px;
    margin: 0; }
    .banner__search--input {
      border: none;
      background-color: #d9d9d9; }
  .banner__title {
    white-space: pre;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center; }
  .banner__description {
    font-size: 0.8em;
    font-weight: lighter;
    text-align: center; }

.btn {
  width: 100%;
  height: 30px;
  text-align: center;
  padding-bottom: 50px; }
  .btn__size {
    cursor: pointer; }

.indicator {
  margin-left: 20px; }
  .indicator__element > span {
    display: inline-block;
    position: relative;
    left: -20px;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #9356DC;
    border-radius: 50%; }
  .indicator__element > i {
    display: inline-block;
    padding-left: 20px; }

#restaurants {
  margin-left: 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.restaurant-container {
  max-width: 768px;
  height: auto;
  border-radius: 20px;
  margin: 30px;
  line-height: 1.2em; }
  .restaurant-container__img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 0; }
    .restaurant-container__img img {
      width: 100%;
      height: 200px;
      border-radius: 20px 20px 0px 0px; }
  .restaurant-container__texts {
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
    margin-top: 0;
    font-weight: bolder;
    font-size: 1.1em; }
  .restaurant-container__texts a {
    text-decoration: none; }

.la-francaise {
  max-width: 780px;
  background-position: left 60px;
  background-image: url(" ./images-origin/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; }
  .la-francaise__header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px; }
  .la-francaise__header i {
    color: black; }
  .la-francaise__header--img {
    width: 30%;
    height: 30px; }

.l-enchantee {
  max-width: 780px;
  background-position: left 60px;
  background-image: url(" ./images-origin/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; }
  .l-enchantee__header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px; }
  .l-enchantee__header i {
    color: black; }
  .l-enchantee__header--img {
    width: 30%;
    height: 30px; }

.la-palette {
  max-width: 780px;
  background-position: left 60px;
  background-image: url(" ./images-origin/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; }
  .la-palette__header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px; }
  .la-palette__header i {
    color: black; }
  .la-palette__header--img {
    width: 30%;
    height: 30px; }

.le-delice {
  max-width: 780px;
  background-position: left 60px;
  background-image: url(" ./images-origin/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; }
  .le-delice__header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px; }
  .le-delice__header i {
    color: black; }
  .le-delice__header--img {
    width: 30%;
    height: 30px; }

.restro {
  background-color: #f2f2f2;
  margin-top: 55%;
  border-radius: 50px 50px 0px 0px;
  padding: 20px; }
  .restro h1 {
    font-weight: bolder; }
  .restro__menu {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    line-height: 1.2em; }
  .restro__menu--box {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    padding: 0px 20px 0px 20px; }
  .restro h2 {
    padding: 20px 0px 0px 20px;
    margin: 0;
    font-size: 1.2em; }

/*# sourceMappingURL=all.css.map */
