@import "./styles/variables";
@import "./styles/mixin";
@import "./styles/extend";
*{
  margin: 0;
  padding: 0;
}
body{
  @include phone-width{
    padding: 0px;
    margin: 10px;
  }
}
.logo{
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 10px;
  & img{
    text-align: center;
    width: 200px;
    height: auto;
    margin: 0 auto;
  }
}
.banner{
  background-color: $bg-color;
  &__search{
    border: 1px solid $bg-color;
    background-color: darken($bg-color,10%);
    box-shadow: 2px 0px 5px rgba(242,242,242,0.5) ;
    text-align: center;
vertical-align: middle;
    width:auto;
    height: 30px;
    padding-top: 10px;;
    margin: 0;
    &--input{
      border: none;
      background-color:darken($bg-color,10%);
  }
  }
  &__title{
    white-space: pre;
    font-size:1.5em;
    font-weight: bold;
    text-align: center;
  }
  &__description{
    font-size: 0.8em;
    font-weight: lighter;
    text-align: center;
  }
}
.btn{
  width: 100%;
  height: 30px;
  text-align: center;
  padding-bottom: 50px;
  &__size{
    cursor: pointer;
    @extend %btn;
  }
}
.indicator{
  margin-left: 20px;
  &__element{
    @extend %textes-dimension;
    >span{
      display: inline-block;
      position: relative;
      left: -20px;
      width: 20px;
      height: 20px;
      text-align: center;
      background: $primary-color;
      border-radius: 50%;
    }
    >i{
      display: inline-block;
      padding-left: 20px;
    }
  }
}
#restaurants{
margin-left: 20px;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restaurant-container {
  max-width: 768px;
  height: auto;
  border-radius: 20px;
  margin: 30px;
  line-height: 1.2em;
  &__img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 0;
    & img{
      width: 100%;
      height: 200px;
      border-radius: 20px 20px 0px 0px;
    }
  }
  &__texts{
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
    margin-top:0;
    font-weight: bolder;
    font-size: 1.1em;
  }
  &__texts a{
    text-decoration: none;
  }
}
.la-francaise{
  max-width: 780px;
  background-position:left 60px;
  background-image: url(" ./images-origin/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  &__header{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  &__header i{
    color: black;
  }
  &__header--img{
    width: 30%;
    height: 30px;
  }
}
.l-enchantee{
  max-width: 780px;
  background-position:left 60px;
  background-image: url(" ./images-origin/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  &__header{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  &__header i{
    color: black;
  }
  &__header--img{
    width: 30%;
    height: 30px;
  }
}
.la-palette{
  max-width: 780px;
  background-position:left 60px;
  background-image: url(" ./images-origin/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  &__header{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  &__header i{
    color: black;
  }
  &__header--img{
    width: 30%;
    height: 30px;
  }
}
.le-delice{
  max-width: 780px;
  background-position:left 60px;
  background-image: url(" ./images-origin/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  &__header{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  &__header i{
    color: black;
  }
  &__header--img{
    width: 30%;
    height: 30px;
  }
}



.restro{
  background-color: $bg-color;
  margin-top: 55%;
  border-radius: 50px 50px 0px 0px;
  padding: 20px;
  & h1{
    font-weight:bolder;
  }
  &__menu{
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    line-height: 1.2em;
  }
  &__menu--box{
    display:flex ;
    justify-content: space-between;
    vertical-align: top;
    padding:0px 20px 0px 20px;
  }
  & h2{
    padding: 20px 0px 0px 20px;
    margin: 0;
    font-size: 1.2em;
  }
}
#page-de-menu{
  position: relative;
  flex: 1;
}
#page-de-menu>div{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: 3s;
}
#page-de-menu>div:target{
  transform: translateX(0px);
}

footer{
  position: absolute;
  left:0;
  bottom:0;
  width: 100%;
  background: black;
  color: white;

}